#mainHeading{
	width:100%;
	text-align:center;
	font-size: 40px;
	background-color:#303030;
	top:0;
	margin:0px;
	color:#4aa7f6;
	height: 100px;
}
#logindiv{
	width:100%;
	margin-top: 40px;
	border:none;
}
#username{
	width:20%;
	margin:auto;
	padding: 10px;
	border: 2px solid #4c4c4c;
	background-color:#4c4c4c;
	color:#FFF;
}
.inputbox{
	color: #000;
	width:100%;
	padding: 10px 10px;
	height: 45px;
    margin-top: 27px;
    font-size: 18px;
}
.submitbutton{
	margin:auto;
}
.input_names{
	padding:15px;
	margin:0 !important;
}
.movies-list{
	width:960px;
}
#genresList{
	width:960px;
}
.movie-card{
	display:inline-block;
	float:left;
}
.addToCart{
	width:40%;background-color:#4aa7f6;padding:4px;margin-top:10px;height:30px;border-radius:5px;color:#FFF;cursor:pointer;
}
@media only screen(max-width:1000px){
	.movies-list{
		width:750px;
	}
	#genresList{
		width:750px;
	}
}
@media only screen(max-width:800px){
	.movies-list{
		width:750px;
	}
	#genresList{
		width:750px;
	}
}
@media only screen(max-width:600px){
	.movies-list{
		width:550px;
		display:inline-block;
	}
	#genresList{
		width:550px;
	}
}
@media only screen(max-width:450px){
	.movies-list{
		width:100%;
		display:inline-block;
	}
	#genresList{
		width:100%;
	}
}